.about
{
    background: #F7F5F1;
    padding: 120px 0px;
    height: 2688px;

    .about-title
    {
        display: flex;
        align-items: center;
        flex-direction: column;
        row-gap: 30px;
        margin-bottom: 120px;
    }
    h2
    {
        font-size: 48px;
        letter-spacing: -2px;
        color: $blackd2;
    }
    .about-desc
    {
        font-size: 18px;
        letter-spacing: -0.3px;
        text-align: center;
        color: $gray7b;
    }
    
}
.about-list
{
    display: flex;
    flex-direction: column;
    row-gap: 150px;
    .about-item
    {
        height: 720px;
        
        display: flex;
        .about-item-left
        {
            height: 100%;
            flex:1;
            
            position: relative;
            .img-left1
            {
                position: absolute;
                left: -56px;
                
            }
            .shape-left1
            {
                position: absolute;
                top: 71px;
                left: 433px;
            }
            
        }
        .about-item-right
        {
            flex:1;
           
            height: 100%;
            .about-item-top
            {
                margin-top: 100px;
                display: flex;
                flex-direction: column;
                align-items: start;
                row-gap: 30px;
                font-size: 36px;
                letter-spacing: -1px;
                margin-bottom: 50px;
            }
            .item-right-desc
            {
                letter-spacing: -0.3px;
                font-size: 18px;
            }
            .about-item-bottom
            {
                display: flex;
                flex-direction: column;
                align-items: start;
                row-gap: 30px;
                .about-content
                {
                    display: flex;
                    align-items: start;
                    column-gap: 13px;
                    .about-content-title
                    {       
                        display: flex;
                        flex-direction: column;
                        align-items: start; 
                        row-gap: 10px;     
                        h4
                        {
                            font-size: 18px;  
                            letter-spacing: 0.4px;
                        }  
                        .about-content-desc
                        {
                            font-size: 16px;
                        }
                    }
                }
            }

        }
    }
    
    .about-item2
    {
        
        flex-direction: row-reverse;
        .img-left2
        {
            position: absolute;
            right: -52px;
        }
        .shape-left2
        {
            position: absolute;
            top: 96px;
            right:465px;
        }
        .item-right-title2
        {
            margin-top: 0;
            font-size: 36px;
            letter-spacing: -1px;
        }
        .item-right-desc2
        {
            font-size: 18px;
            letter-spacing: -0.3px;
        }
        .span-right-desc2
        {
            margin-top: 20px;
            font-size: 18px;
            letter-spacing: -0.3px;
            margin-bottom: 40px;
        }
        .about-conten-button
        {
            padding: 18px 32px;
            font-size: 15px;
            letter-spacing: -0.3px;
        }
        
    }
}
.about-item3
{
    
    .img-left3
    {
        position: absolute;
        left: -50px;
        
    }
    .shape-left3
    {
        position: absolute;
        bottom:85px;
        left:470px;
    }
    .item-right-title3
    {
        font-size: 36px;
        letter-spacing: -1px;
        
    }
    .item-right-desc3
    {
        letter-spacing: -0.3px; 
        font-size: 18px;
    }
    
    .span-right-desc3
    {
        letter-spacing: -0.3px; 
        font-size: 18px;
        margin-bottom: 40px;
    }
    .about-conten-button
        {
            padding: 18px 32px;
            font-size: 15px;
            letter-spacing: -0.3px;
        }
}
