.footer
{
    max-width: 100%;
    &-top
    {
        padding: 100px 0px;
        background-color: $grayf7;
        position: relative;
        
        &-shape
        {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        } 
        &-title
        {
            
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 30px;
            margin-bottom: 65px;
        }
        &-heading
        {
            font-size: 48px;
            letter-spacing: -2px;
            line-height: 117%;
            max-width: 770px;
        }
        &-desc
        {
            font-size: 22px;
            line-height: 145%;
            letter-spacing: -1px;
        }
        &-button
        {
            text-align: center;
            padding: 18px 32px;
            width: 158px;
            margin: 0 auto;
        } 
    }
    &-bottom
    {
        background-color: $blackd2;
        width: 100%;
        &-top
        {
            padding: 100px 0px;
        }
        &-container
        {
            display: grid;
            grid-template-columns: 1fr 3fr 370px;
        }
        &-left
        {
            grid-column: 1/2;
            &-logo
            {
                display: flex;
                justify-content: start;
                align-items: start;
                gap: 10px;

            }
            &-image
            {
                width: 32px;
                height: 44px;
            }
            &-brand
            {
                font-family: 'Outfit';
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 133%;
                letter-spacing: -0.4px;
                color: #FFFFFF;
            }
        }
        &-center
        {
            grid-column: 2/3;
            display: flex;
            justify-content: left;
            &-list
            {
                flex: 1;
                color: white;
                text-align: left;
                text-transform: uppercase;
                list-style: none;
                h3
                {
                    margin-bottom: 20px;
                    margin-left: 5px;
                    font-family: 'Outfit';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 22px;
                    line-height: 145%;
                    letter-spacing: -1px;
                }
                li
                {          
                    margin-bottom: 10px;
                }
                li a
                {
                    font-family: 'Outfit';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 171%;
                    letter-spacing: -0.3px;
                    color: #E7E5EA;
                }
            } 
        }
        &-right 
        {
            grid-column: 3/4;
            display: flex;
            flex-direction: column;
            align-items: start;
            row-gap: 20px;
            &-title
            {
                font-family: 'Outfit';
                font-style: normal;
                font-weight: 400;
                font-size: 22px;
                line-height: 145%;
                letter-spacing: -1px;
                color: #FFFFFF;
            }
            &-desc
            {
                font-family: 'DM Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 162%;     
                color: #E7E5EA;
            }
            &-register
            {
                display: flex;
                column-gap: 6px;
            }
            &-button
            {
                padding: 13px 24px;
                font-family: 'Outfit';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 171% ;
                text-align: center;
                letter-spacing: -0.3px;
                text-transform: uppercase;

                color: #FFFFFF;
            }
            input
            {
                background: #E7E5EA;
                border-radius: 5px;
                padding: 11px 18px;
                outline: none;
                color: $gray7b;
                font-size: 15px;
            }
        }
        &-bottom
        {
            &-desc
            {
                font-family: 'DM Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 162%;    
                color: #E7E5EA;
                margin: 13px 0 ;
            }
            display: flex;
            justify-content: space-between;
            border-top: solid 1px #7B88A8;
            padding: 27px 0px;
            &-brand
            {
                display: flex;
                column-gap: 20px;

                &-logo
                {
                    width: 52px;
                    height: 52px;
                    background: #4F77FF;
                    border-radius: 100rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}