section.about 
    .wrap-about
        .container
            .about-title
                h2.gnr-outfits Digital products that people love to use
                p.about-desc.gnr-dmsans Applying behavioral science to customer experience
            .about-list 
                .about-item 
                    .about-item-left 
                        img(src="../images/radium1.png", alt="radium1")
                        img(src="../images/information1.png", alt="in4/1")
                        img(src="../images/wallpaper1.svg", alt="wallpaper1")
                        img(src="../images/about-shape1.png", alt="shape1")
                    .about-item-right
                        .about-item-top
                            h3.gnr-outfits.item-right-title Web3 Experience Design
                            p.item-right-desc.gnr-dmsans In the new digital era, users are in control of content and community, and experience design is essentia
                        .about-item-bottom
                            +about-content(
                                "../images/laptop.png",
                                "laptap",
                                "Design & Development Systems",
                                "Chat, start meetings or join them with a click from within your conversation."
                            )
                            +about-content(
                                "../images/group.svg",
                                "group",
                                "Digital Growth Strategy",
                                "Chat, start meetings or join them with a click from within your conversation."
                            )
                            +about-content(
                                "../images/user.png",
                                "user",
                                "User Journey Mapping",
                                "Chat, start meetings or join them with a click from within your conversation."
                            )   
                .about.item 
                    .about-item-left 
                        img(src="../images/radium1.png", alt="radium1")
                        img(src="../images/information1.png", alt="in4/1")
                        img(src="../images/wallpaper1.svg", alt="wallpaper1")
                        img(src="../images/about-shape1.png", alt="shape1")
                    .about-item-right                         
