section.about 
    .container
            .about-title
                h2.gnr-outfits Digital products that people love to use
                p.about-desc.gnr-dmsans Applying behavioral science to customer experience
            .about-list 
                .about-item 
                    .about-item-left 
                        img.img-left1(src="../images/design1.png", alt="radium1")
                        img.shape-left1(src="../images/about-shape1.png", alt="shape1")
                    .about-item-right
                        .about-item-top
                            h3.gnr-outfits.item-right-title Web3 Experience Design
                            p.item-right-desc.gnr-dmsans In the new digital era, users are in control of content and community, and experience design is essentia
                        .about-item-bottom
                            +about-content(
                                "../images/laptop.png",
                                "laptap",
                                "Design & Development Systems",
                                "Chat, start meetings or join them with a click from within your conversation."
                            )
                            +about-content(
                                "../images/group.svg",
                                "group",
                                "Digital Growth Strategy",
                                "Chat, start meetings or join them with a click from within your conversation."
                            )
                            +about-content(
                                "../images/user.png",
                                "user",
                                "User Journey Mapping",
                                "Chat, start meetings or join them with a click from within your conversation."
                            )   
                .about-item.about-item2
                    .about-item-left 
                        img.img-left2(src="../images/design2.png", alt="radium1")
                        img.shape-left2(src="../images/about-shape2.png", alt="shape1")
                    .about-item-right
                        .about-item-top
                            h3.gnr-outfits.item-right-title2 We create world-class products
                            p.item-right-desc2.gnr-dmsans We're a web design agency creating next‑level websites by strategically blending user experience and brand storytelling.
                            span.span-right-desc2.gnr-dmsans Our full‑stack design and development agency based in San Francisco provides front‑end and back‑end development services working closely with our designers. As a UX UI and app development company, we build native mobile apps for iOS and Android, web applications, apps for wearables, and B2B/enterprise software.
                            a.general-button.about-conten-button(href="#") DISCOVER NOW
                .about-item.about-item3
                    .about-item-left 
                        img.img-left3(src="../images/design3.png", alt="radium1")
                        img.shape-left3(src="../images/about-shape3.png", alt="shape1")
                    .about-item-right
                        .about-item-top
                            h3.gnr-outfits.item-right-title3 UI/UX design and branding agency
                            p.item-right-desc3.gnr-dmsans  We start each new digital product design partnership with an in‑depth discovery phase to immerse ourselves in your business. Our UX/UI designers interview stakeholders, conduct user research, analyze your competition, and consolidate content.
                            span.span-right-desc3.gnr-dmsans The result is an action plan on executing a holistic brand and user experience.
                            a.general-button.about-conten-button(href="#") DISCOVER NOW