footer.footer
    .footer-top
        img.footer-top-shape(src="../images/footer-shapes.png", alt="ft-shape")
        .container.footer-top-container
            .footer-top-title
                h2.footer-top-heading.gnr-outfits We design & develop transformative user experiences from Silicon Valley
                .footer-top-desc.gnr-dmsans Are you ready to start your project? Contact us today and get started!
            .general-button.footer-top-button get started
    .footer-bottom
        .container.footer-bottom-container.footer-bottom-top
            .footer-bottom-left
                    .footer-bottom-left-logo 
                        img.footer-bottom-left-image(src="../images/logo.png", alt="")
                        span.footer-bottom-left-brand Pollock
            .footer-bottom-center
                    ul.footer-bottom-center-list.gnr-outfits 
                        h3 Company
                        li
                            a(href="#") About
                        li
                            a(href="#") Work
                        li
                            a(href="#") Careers
                        li
                            a(href="#") Pricing
                        li
                                a(href="#") Blog
                    ul.footer-bottom-center-list.gnr-outfits 
                        h3 Services
                        li
                            a(href="#") Branding
                        li
                            a(href="#") Websites
                        li
                            a(href="#") Development
                        li
                            a(href="#") Strategy
                        li
                            a(href="#") Platforms

                    ul.footer-bottom-center-list.gnr-outfits 
                        h3 Contact
                        li
                            a(href="#") Help Desk
                        li
                            a(href="#") Open a Ticket
                        li
                            a(href="#") Chat
                        li
                            a(href="#") Forum
                        li
                            a(href="#") Docs
            .footer-bottom-right 
                h3.footer-bottom-right-title Newsletter
                p.footer-bottom-right-desc Subscribe to our newsletter to keep up to date on our marketing, website, design services, and tips.
                .footer-bottom-right-register
                    input(type="email" placeholder=" Enter email" )
                    .footer-bottom-right-button.general-button Submit
                p.footer-bottom-right-desc We hate spam as much as you do. We will never, ever send you such emails. 
        .container.footer-bottom-bottom
            p.footer-bottom-bottom-desc © 2022 Pollock LLC. All Rights Reserved. Terms & Conditions. Privacy Policy.
            .footer-bottom-bottom-brand
                .footer-bottom-bottom-brand-logo
                    img(src="../images/facebook.png", alt="")
                .footer-bottom-bottom-brand-logo
                    img(src="../images/twitter.png", alt="")
                .footer-bottom-bottom-brand-logo
                    img(src="../images/instagram.png", alt="")

