section.services
    .container.wrap-servives
        .services-top
            .services-heading
                h2.gnr-outfits  We design engaging digital products used by millions of people
                p.servives-desc.gnr-outfits We team up with marketing departments of large companies and startups to deliver award‑winning websites
            .services-list 
                +services-item(
                    "../images/rocket.svg",
                    "rocket",
                    "Branding",
                    "We design digital platforms to empower users and your brand's tribe")

                +services-item(
                    "../images/iconex.svg",
                    "iconex",
                    "Development",
                    "We design digital platforms to empower users and your brand's tribe.")

                +services-item(
                    "../images/chart.svg",
                    "chart",
                    "Strategy",
                    "We design digital platforms to empower users and your brand's tribe."
                )
            a.services-link(href="#").general-button View Our Services  
        .services-bottom 
            h3.services-bottom-title.gnr-outfits Working with the most trusted brands in the industry
            .brand
                a(href="#")
                    img(src="../images/google.png", alt="google")
                a(href="#")
                    img(src="../images/netflix.png", alt="google")
                a(href="#")
                    img(src="../images/slack.png", alt="google")
                a(href="#")
                    img(src="../images/intercom.png", alt="google")           